body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.BugattiSS {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo{
    margin-left: 85%;
}

.BugattiSS img {
  width: 50%;
  max-width: 50%;
  height: auto;
}

.menu-button{
    margin-bottom: 1%;
}

header {
    border-bottom: 2px solid black;
}

.BugattiSS p {
  flex: 1;
}

.BugattiBolide {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 24px;
  margin-top: 40px;
}

.BugattiBolide img {
  width: 50%;
  height: auto;
}

.BugattiBolide p {
  flex: 1;
}

.mein-link {
  color: blue;
  text-decoration: none;
}

.mein-link:visited {
  color: purple;
}

.mein-link:hover {
  color: red;
}